/* NavBar.css */
.navbar {
  background-color: #4b6cb7; 
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: #313131c0;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  color: #05033c; 
}
